# Zonasi Sekolah

In [3]:
import pandas as pd
import os

# Sekolah SMPN 16 Yogyakarta
school_coordinates = (-7.8113051,110.3592539)

data_pkg_path = 'data'
filename = 'siswa_baru.csv'
path = os.path.join(data_pkg_path, filename)

# list data siswa baru (dsb)
dsb = pd.read_csv(path)
dsb

    no    siswa   lintang       bujur
0    1    Siska -7.811640  110.359962
1    2    Naira -7.811161  110.360423
2    3     Lala -7.810029  110.359769
3    4     Tari -7.809890  110.358235
4    5    Winda -7.809954  110.356931
5    6    Nuski -7.810518  110.357323
6    7     Budi -7.811055  110.357371
7    8  Prabowo -7.811299  110.356824
8    9     Joko -7.811746  110.357280
9   10   Widodo -7.812161  110.356775
10  11   Gibran -7.813698  110.357500
11  12    Fitri -7.815378  110.357714
12  13     Zila -7.817558  110.351840
13  14    Nanda -7.818079  110.355021
14  15     Bayu -7.817961  110.360101
15  16    Tarno -7.814563  110.362129
16  17    Mikel -7.813084  110.362312
17  18    Angel -7.812829  110.362526
18  19    Tarjo -7.812882  110.363159
19  20     Susi -7.811819  110.359168
20  21     Sari -7.812127  110.359747
21  22     Mira -7.812670  110.360112
22  23     Mita -7.811521  110.361571
23  24     Tata -7.810021  110.361153
24  25    Riska -7.809489  110.360091
25  26    Septi -7.811234  110.362033
26  27     Agus -7.810330  110.358932
27  28     Juli -7.808394  110.360692
28  29     Banu -7.809341  110.362558
29  30     Tina -7.811872  110.364254
30  31     Nana -7.811893  110.364661
31  32     Sasa -7.812595  110.364876
32  33    Supri -7.811000  110.362848
33  34     Siti -7.810404  110.365402
34  35      Ani -7.810532  110.357999
35  36      Ami -7.815278  110.352688
36  37     Tono -7.807506  110.360380
37  38     Tini -7.806017  110.361625
38  39  Kartini -7.805794  110.359597
39  40     Yanu -7.808155  110.355145
40  41    Febri -7.808985  110.355692
41  42    Indro -7.810952  110.355016
42  43     Dono -7.807188  110.356572
43  44   Kasino -7.806454  110.362494
44  45    Doyok -7.805571  110.365090
45  46    Didin -7.813622  110.366528
46  47     Haki -7.813664  110.363910
47  48   Lukman -7.812186  110.356561
48  49      Adi -7.804146  110.360016
49  50     Doni -7.812133  110.377289

In [7]:
from geopy import distance

# calculate distance from lintang & bujur siswa to school coordinates
def calculate_distance(row):
    siswa_coordinates = (row['lintang'], row['bujur'])
    return distance.geodesic(siswa_coordinates, school_coordinates).m

result = dsb.apply(calculate_distance, axis=1)
print(result)

0       86.441056
1      129.951192
2      152.172734
3      192.669311
4      296.571002
5      230.108423
6      209.506834
7      268.024664
8      223.128195
9      289.276396
10     327.806091
11     481.375121
12    1070.852289
13     882.658498
14     742.031315
15     479.955813
16     390.450531
17     398.323898
18     464.702656
19      57.584374
20     105.957666
21     178.131579
22     256.705672
23     253.035582
24     220.991214
25     306.584983
26     113.566414
27     358.869070
28     424.303641
29     554.973971
30     599.923902
31     636.258710
32     397.840969
33     685.321659
34     162.735883
35     847.038733
36     438.146132
37     640.644385
38     610.706958
39     571.619383
40     469.236292
41     469.036382
42     543.029538
43     644.657590
44     903.632289
45     842.208557
46     576.046653
47     312.596038
48     796.214630
49    1991.269448
dtype: float64

In [11]:
# merge calculate distance to data siswa
dsb['distance_meter'] = result

# sort data siswa by distance
dsb = dsb.sort_values(by='distance_meter')
print(dsb)

# save data siswa to csv
output_filename = 'siswa_baru_distance.csv'
output_dir = 'output'
output_path = os.path.join(output_dir, output_filename)
dsb.to_csv(output_path, index=False)

    no    siswa   lintang       bujur     distance  distance_meter
19  20     Susi -7.811819  110.359168    57.584374       57.584374
0    1    Siska -7.811640  110.359962    86.441056       86.441056
20  21     Sari -7.812127  110.359747   105.957666      105.957666
26  27     Agus -7.810330  110.358932   113.566414      113.566414
1    2    Naira -7.811161  110.360423   129.951192      129.951192
2    3     Lala -7.810029  110.359769   152.172734      152.172734
34  35      Ani -7.810532  110.357999   162.735883      162.735883
21  22     Mira -7.812670  110.360112   178.131579      178.131579
3    4     Tari -7.809890  110.358235   192.669311      192.669311
6    7     Budi -7.811055  110.357371   209.506834      209.506834
24  25    Riska -7.809489  110.360091   220.991214      220.991214
8    9     Joko -7.811746  110.357280   223.128195      223.128195
5    6    Nuski -7.810518  110.357323   230.108423      230.108423
23  24     Tata -7.810021  110.361153   253.035582      253.035582
22  23     Mita -7.811521  110.361571   256.705672      256.705672
7    8  Prabowo -7.811299  110.356824   268.024664      268.024664
9   10   Widodo -7.812161  110.356775   289.276396      289.276396
4    5    Winda -7.809954  110.356931   296.571002      296.571002
25  26    Septi -7.811234  110.362033   306.584983      306.584983
47  48   Lukman -7.812186  110.356561   312.596038      312.596038
10  11   Gibran -7.813698  110.357500   327.806091      327.806091
27  28     Juli -7.808394  110.360692   358.869070      358.869070
16  17    Mikel -7.813084  110.362312   390.450531      390.450531
32  33    Supri -7.811000  110.362848   397.840969      397.840969
17  18    Angel -7.812829  110.362526   398.323898      398.323898
28  29     Banu -7.809341  110.362558   424.303641      424.303641
36  37     Tono -7.807506  110.360380   438.146132      438.146132
18  19    Tarjo -7.812882  110.363159   464.702656      464.702656
41  42    Indro -7.810952  110.355016   469.036382      469.036382
40  41    Febri -7.808985  110.355692   469.236292      469.236292
15  16    Tarno -7.814563  110.362129   479.955813      479.955813
11  12    Fitri -7.815378  110.357714   481.375121      481.375121
42  43     Dono -7.807188  110.356572   543.029538      543.029538
29  30     Tina -7.811872  110.364254   554.973971      554.973971
39  40     Yanu -7.808155  110.355145   571.619383      571.619383
46  47     Haki -7.813664  110.363910   576.046653      576.046653
30  31     Nana -7.811893  110.364661   599.923902      599.923902
38  39  Kartini -7.805794  110.359597   610.706958      610.706958
31  32     Sasa -7.812595  110.364876   636.258710      636.258710
37  38     Tini -7.806017  110.361625   640.644385      640.644385
43  44   Kasino -7.806454  110.362494   644.657590      644.657590
33  34     Siti -7.810404  110.365402   685.321659      685.321659
14  15     Bayu -7.817961  110.360101   742.031315      742.031315
48  49      Adi -7.804146  110.360016   796.214630      796.214630
45  46    Didin -7.813622  110.366528   842.208557      842.208557
35  36      Ami -7.815278  110.352688   847.038733      847.038733
13  14    Nanda -7.818079  110.355021   882.658498      882.658498
44  45    Doyok -7.805571  110.365090   903.632289      903.632289
12  13     Zila -7.817558  110.351840  1070.852289     1070.852289
49  50     Doni -7.812133  110.377289  1991.269448     1991.269448